<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="my-class">
      <h1>404</h1>
      <p style="padding-bottom: 50px">Oops, this page doesn't exist.</p>
      <a href="/"
        ><button style="width: 150px; height: 55px; background-color: coral">
          back to home
        </button></a
      >
    </div>
  </body>
</html>
