* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 36px;
  min-height: 100vh;
  color: #000000;
  background-color: rgb(92, 88, 88);
  display: grid;
  place-content: center;
}

.my-class {
  color: rgb(0, 0, 0);
  text-align: center;
}
